body {
  font-family: Roboto, Arial, sans-serif;
  background-color: #f9f9f9;
  padding: 0px;
  margin: 0px;
}
.main {
  display: flex;
}
@media only screen and (min-width: 10px) and (max-width: 768px) {
  .main {
    display: block;
  }
}
